<li class="c-post-item {{post_class}}">
    <a class="c-post-link" href="{{url}}">
        {{#if @custom.show_date}}
        <time class="c-post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date published_at format="DD MMM."}}</time>
        {{/if}}
        <span class="c-post-title">{{title}}</span>
        {{#if @custom.show_reading_time}}
        {{#if reading_time}}
            <span class="c-post-reading">{{reading_time minute="% min de lectura" minutes="% min de lectura"}}</span>
        {{/if}}
        {{/if}}
    </a>
</li>
